body {
    background-color: #eee;
}

.caja {
    background-color: #ffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    border-top: solid 0px;
}

.contenido {
    padding: 10px;
}

.header {
    padding: 10px;
    border-bottom: solid 1px #eee;
}

.footer {
    padding: 10px;
    border-top: solid 1px #eee;
}

.aceptar {
    background-color: rgb(26, 84, 194);
    border: none;
    color: #ffff;
    padding: 3px;
}

.cancelar {
    background-color: rgb(126, 136, 155);
    border: none;
    color: #ffff;
    padding: 3px;
}
