body {
    background-color: #eee;
}

.grid {
    display: grid;
    grid-template-areas: "header header" "content sidebar" "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;
    grid-auto-rows: 140px;
    grid-auto-flow: row;
}

.red {
    background-color: #ff0000;
    color: #fff;
}

.blue {
    background-color: #0000ff;
    color: #fff;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}
