body {
    background-color: #eee;
}

.grid {
    /* display: inline-grid; */
    display: grid;
    /* grid-template-rows: minmax(100px, auto); */
    grid-template-rows: repeat(2, 50px);
    /* grid-template-columns: minmax(auto, 50%) 1fr 2em; */
    grid-template-columns: 30px repeat(3, 1fr) 15px;
    /* grid-row-gap: 20px;
    grid-column-gap: 10px; */
    grid-gap: /*filas*/
    20px/*columnas*/
    10px;
}

.element {
    background-color: #ff0000;
    color: #fff;
}

.header {
    /*Definir el tamaño del elemento*/
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1 / 6;
    grid-row: 1 / 3;
}
